.THIS.redOnYellow svg {
    fill : red;
}
.THIS.redOnYellow {
   background-color:yellow !important;
}
 .THIS.orangeOnBlack svg{
    fill:orange !important;
}
 
.THIS.orangeOnBlack {
    background-color:black !important;
}
 

.THIS.blackOnRed svg{
    fill:black !important;
}
 
.THIS.blackOnRed {
    background-color:IndianRed !important;
}
 

.THIS.black svg{
    fill: black;
}